* {
	margin: 0;
	padding: 0;
}

.tabIcon {
    display: block;
    width: 38px;
    height: 38px;
    position: relative;
    z-index: 2;
    background-color: #2f343a;
    background-image: url('https://raw.githubusercontent.com/miaoT/js-backToTop/master/img/bk_icon.png');
    background-repeat: no-repeat;
}

